*{
    margin: 0;
    padding: 0;
}
html, body{
    min-width: 100%;
    top: 0;
    background: rgb(27, 27, 27);
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    background-image: linear-gradient(10deg, rgb(0, 4, 255), rgb(0, 255, 217));
    -webkit-background-clip: text;background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.background{   
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.logo{
    margin: 0 auto;
    margin-top: 5vh;
    width: 75%;
    height: 10vh;
    background-image: url("/images/dv-white.png");
}
.error{
    position: relative;
    width: 80%;
    height: 25rem;
    margin: 0 auto;
    background-image: url("/images/404-img.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-txt{
    text-align: center;
    color: white;
    font-size: 3.5rem;
    margin-top: -5rem;
}
.caption{
    margin-top: 3rem;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}
@media(min-width:800px){
    .error{
        margin-top: 10vh;
    }
    .main-txt{
        margin-top: 10vh;
    }

}