<!DOCTYPE html>
<html>
    <head>
      <title>Zbłądziłeś</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="/style/error.css">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900|Source+Sans+Pro&" rel="stylesheet">
    </head>
    <body>
      <div class="logo background"></div>
      <div class="error"></div>
      <h2 class="main-txt">Zgubiłeś się?</h1>
      <p class="caption">Trzymaj link na <a class="link" href="index.html">stronę główną</a></p>
    </body>
</html>