<!DOCTYPE html>
<html>
    <head>
      <title>Dziękujemy!</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="/style/thanks.css">
      <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="logo background"></div>
        <div class="thanks">Dziękujemy, że jesteś z nami!</div>
        <div class="tick-icon background"></div>
        <div class="reminder">Sprawdź maila i potwierdź <br>swoją obecność</div>
        <div class="homepage"><a class="back-link" href="/templates/index.html">Strona główna</a></div>
    </body>
</html>